---

import Default from '@astrojs/starlight/components/SocialIcons.astro';

---

<a href="https://github.com/denful/bend/releases"><img src="https://img.shields.io/github/v/release/denful/bend?logo=github&color=white"/></a>

<a href="https://deepwiki.com/denful/bend"><img src="https://deepwiki.com/badge.svg" alt="Ask DeepWiki"></a>

<Default />


